@import "./fonts.scss";

$desktop_breakpoint: 1140px;

@mixin grid-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
@mixin flex-layout {
    display: flex;
    flex-direction: row;
}
@mixin flex-row-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    margin: 0;
    background-color: #100E1D;
    color: #E7E7EB;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

.content {
    padding: 24px;

    @media (min-width: $desktop_breakpoint) {
        max-width: $desktop_breakpoint;
        margin: auto;
    }
}


.details {
    position: absolute;
    left: 30%;
}

progress {
    border-radius: 80px; 
    height: 8px;
    width: 100%;
    
    &::-webkit-progress-bar {
        background-color: #E7E7EB;
        border-radius: 80px;
        height: 8px;
    }
    &::-webkit-progress-value {
        background-color: #FFEC65;
        border-radius: 80px;
        height: 8px;
    }
}

img {
    width: 56.44px;
    height: 62px;
}

ul {
    list-style: none;
    padding: 0;
}

.wrapper {

    @media (min-width: $desktop_breakpoint) {
        @include grid-layout();
        gap: 154px;

    }
}

.place_finder {
    background-color: #1E213A;

    @media (min-width: $desktop_breakpoint) {
        width: 25%;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 20px;
    }
}
.content_detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    
    @media (min-width: $desktop_breakpoint) {
        grid-template-columns: repeat(5, 1fr);
    }

    &_item {
        background-color: #1E213A;
        padding: 18px 0;
        padding-left: 20px;
        padding-right: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            padding-top: 15px;
        }

        &_temp {
            @include flex-layout();
            justify-content: space-between;
            gap: 16px;
            padding-top: 31px;
        }
    }
}


.detail_highlight {
    display: grid;
    gap: 32px;

    @media (min-width: $desktop_breakpoint) {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
    }

    &_item {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #1E213A;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 22px;
        padding-bottom: 35px;

        .percentage {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.search {
    @include flex-row-layout();
    gap: 12px;

    &_location {
        color: #616475;
        background-image: url("../assets/search-24px.svg");
        background-repeat: no-repeat;
        background-position: 3%;
        border: 1px solid #E7E7EB;
        box-sizing: border-box;
        width: 80%;
        height: 48px;
        padding-left: 40px;
    }

    &_button {
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        background-color: #3C47E9;
        padding-left: 19px;
        padding-right: 14px;
        padding-top: 14px;
        padding-bottom: 15px;
        border: none;
        color: #E7E7EB;
        height: 48px;
    }
}

.search_popup {
    @include flex-row-layout();

    &_button {
        background: #6E707A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 161px;
        height: 40px;
        font-weight: 500;
        font-size: 16px;
        color: #E7E7EB;
        border: none;
    }

    .gps_fixed {
        background-color: rgba(110, 112, 122, 0.3);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    img {
        width: 22px;
        height: 22px;
        text-align: center;
    }
}



.popup {
    height: 100vh;
    position: fixed;
    background-color: #1E213A;
    overflow-y: scroll;
    width: max-content;
    top: 0;
    left: 0;
    /* Hide scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        justify-content: left;
    }

    .closePopup {
        text-align: right;
        align-self: flex-end;
    }
}

.today_detail {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    @media (min-width: $desktop_breakpoint) {
        height: 75vh;
        margin-bottom: 30px;
    }

    img {
        width: 150px;
        height: 174px;
    }

    .temperature {
        font-weight: 500;
        font-size: 26px;

        &_value {
            font-size: 48px;
        }
    }

    .weather-name {
        font-weight: 600;
        font-size: 36px;
        color: #A09FB1;
    }

    .applicable {
        display: grid;
        gap: 32px;
        color: #88869D;
    }

    .city-name {
        align-self: center;
        background-image: url("../assets/location_on-24px.svg");
        background-repeat: no-repeat;
        background-position: 10%;
    }
}

.converter {
    @include flex-row-layout();
    justify-content: flex-end;
    gap: 12px;
    padding-top: 42px;
    padding-bottom: 66px;

    input[type="radio"] {
        cursor: pointer;
        display: none;
    }

    input[type="radio"] ~ label {
        cursor: pointer;
    }

    input[type="radio"]:checked ~ label {
        color: #110E3C;
        background-color: #E7E7EB;
    }

    &_item {
        background-color: #585676;
        color: #E7E7EB;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
}

.search-result {
    overflow: auto;
    position: relative;
    font-size: 16px;

    &_list {

        &_item {
            cursor: pointer;
            width: 270px;
            text-align: left;
            padding-top: 23px;
            padding-bottom: 22px;
            padding-left: 12px;

            &:hover {
                border: 1px solid #616475;
            }
        }
    }
}